*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 121, 112, 0.295);
}

.main-div{
    height: 300px;
    width: 520px;
    background-image: linear-gradient( rgb(46, 35, 35)40%,rgba(24, 208, 241, 0.61));
    display: flex;
    justify-content:center;
    align-items: center;
   border-radius: 5px;
   border: 1px solid;

}

.div2{
    height:250px ;
    width: 440px;
    background-color:rgb(49, 39, 39);
    border-radius: 12px;
    padding-right: 23px;
    padding-bottom: 25px;
    position: relative;
    padding-left: 23px;
    box-shadow: -5px -5px 15px rgba(163, 142, 142, 0.89);
   
}


.nav{
   
    height: 30px;
    width: 370px;
    padding-top: 3px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 800;
    background: transparent ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.nav1{
  display: inline-block;
  width: 259px;
  margin-left: 42px;
  font-size: 12px ;
  font-weight: 600;
  
}

.sp1{
    color: rgba(25, 209, 241, 0.979);
}

.leftdiv{
    background: transparent;
    height: 170px;
    border: solid 3px  rgba(25, 209, 241, 0.979);
    width: 210px;
    margin-top: 25px;
    padding-left: 10px;
    padding-top: 8px;
    box-shadow: 5px 5px 5px rgba(86, 198, 206, 0.493),-5px -5px 5px rgba(163, 142, 142, 0.89); 
  display: inline-block;
    
}

.leftdiv .p1{
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
   

}

.leftdiv .p2{
    font-size: 20px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    color: white;
    border-bottom: 2px solid rgb(30, 145, 173);
    display: inline-block;

    margin-top: 5px;
}

.leftdiv .p3{
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 5px;
}
.leftdiv .p3 span{
    color: rgba(25, 209, 241, 0.979);
    font-weight: 750;
}
.leftdiv .p5{
    font-size: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top:7px;
}

.leftdiv .p6 button{
  height: 20px;
  width: 20px;
  padding: 2px;
  border: solid 1px  rgba(25, 209, 241, 0.979);
  margin-top:10px;
  border-radius: 50%;
  background-color: rgb(40, 54, 66);
  
}

.b1 {
background-image: url(facebook-f-brands-solid.svg);
background-position: center;
background-size: 8px;
background-repeat: no-repeat;
}

.b2{
    background-image: url(square-instagram-brands-solid.svg);
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    }

    .b3 {
        background-image: url(linkedin-in-brands-solid.svg);
        background-position: center;
        background-size: 10px;
        background-repeat: no-repeat;
        }

        .b4{
            background-image: url(twitter-brands-solid.svg);
            background-position: center;
            background-size: 10px;

            background-repeat: no-repeat;
            }

    .lastbtn{
      font-size: 10px;
      margin-left: 115px;
      font-weight: 600;
      border-radius: 8px;
      padding: 3px;
      color: white;
      background-color:rgba(25, 209, 241, 0.979) ;
      border: solid 2px rgb(40, 54, 66);

    }

  

.pic2-div{
    width: 150px;
    height: 170px;
    position: absolute;
    left: 270px;
    bottom: 22px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(86, 198, 206, 0.493),-5px -5px 5px rgba(163, 142, 142, 0.89);
    background-image: url(girlpic.jpg);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(174, 243, 237, 0.822);
    }