*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 230px;
    background-color: rgb(151, 236, 236);
}
h1{
    display: inline-block;
    color: red;
    background-color: rgb(49, 34, 34);    
    margin-left: 410px;
  

}





.btn-div{
    width: 75%;
    height: 51%;
    display: block;
    margin-right: 90px;
    margin-left:230px ;
    margin-top: 50px;
   

   
}

.a8-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.btn{
    height: 40px;
    width: 40px;
    margin-left: 1px;
    margin-bottom: 1px;
    font-weight: 500;
    font-size:15px;
    color: antiquewhite;
    border-radius: 3px;
   
}
.btn-transparent{
    background: transparent;
    border: none;
    outline: 0;
    color: black;
    font-weight: 600;
    font-size: 10px;
    padding-top: 25px;
}

.btn-green{
    background-color: rgb(8, 54, 8);
}

.btn-blue{
    background-color: rgb(32, 10, 114);
}
.btn-red{
    background-color: rgb(226, 22, 22);

}
.btn-yello{
background-color: rgb(160, 223, 34);
}
.btn-gray{
    background-color: gray;

}

.btn-black{
    background-color: rgb(22, 20, 20);

}
.btn-orang{
    background-color: rgb(255, 165, 0);
    
}

.btn-l-blue{
    background-color: rgb(56, 216, 245);

}

.btn-d-green{
    background-color: green;

}

.btn-l-green{
    background-color: rgb(11, 197, 82);

}
.btn-purple{
    background-color: rgb(189, 9, 129);

}
.btn-n-blue{
    background-color: rgb(61, 61, 226);

}
.btn-l-purple{
    background-color:  blueviolet;

}


.buttom-div{
    height: 86px;
    width: 660px;
   
    margin-top:50px ;
    margin-left: 62px;
   
   


   

}

.t15-div .btnn{
    background-color: rgb(255, 0, 0);
    
   

}

.t15-divv .btnn{
    background-color: rgb(15, 15, 14);
}


.btnn{
    width: 40px;
    height: 40px;
    margin-top: 3px;
   
    color: aliceblue;
    font-weight: 500;
    font-size:14px;
    border-radius: 3px;
   

  }